<!--
<div class="row">
    <form [formGroup]="historyForm" class="m-5">
        <div class="form-row">
            <div class="form-group m-3">
                <label for="tajNumber">TAJ Szám</label>
                <input type="number" class="form-control mt-1" id="tajNumber" formControlName="tajNumber" placeholder="TAJ Szám">
            </div>
        </div>
    </form>
    <button class="btn btn-primary mt-4 m-3" (click)="showHistory()">Beteg Hozzáadása</button>
</div>
--->
<p>Írja fel az URL-hez</p>
